body {
	text-align: center;
}

h1 {
	font-family: cursive;
	text-align: left;
}
h1 span {
	font-size: 10px;
}

#container {
	max-width: 600px;
	margin: 3em auto;
	position: relative;
}

#canvas {
	border: 1px solid black;
}

#info {
	float: right;
	margin-top: -15px;
}

#player-info {
	max-width: 100px;
}

#color {
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

#pnum {
	display: inline-block;
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin-top: .5em;
}

#notification {
	padding: .5em 1em;
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	background-color: red;
	color: white;
}

#scores {
	overflow: hidden;
}

#p1s, #p2s, #p3s {
	padding: 1em;
	color: white;
	display: inline-block;
	margin: 1em;
}
#p1s {
	background-color: black;
}
#p2s {
	background-color: green;
}
#p3s {
	background-color: gray;
}